
.footer-top-area .single-widget ul.address li {
  margin-bottom: 10px;

}

.footer-top-area .single-widget ul.address {
  margin-top: 10px;


}
.footer-top-area .single-widget ul.address li {
  padding-right: 0px;


}

.footer-top-area
{

  background-color: rgb(2, 2, 14);
}
