

<!-- Start Page Title Area -->
<section class="organaization-area ptb-100">
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>اللجان</h2>
      <ul>
        <li>
          <a routerLink="/">الرئيسية
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li>اللجان</li>
      </ul>
    </div>
  </div>
</div>


<section class="organaization-area ptb-100">
 <img src="../../assets/img/صورة للجان6.png" class="rounded float-lg-end  rounded-circle" alt="..." style="margin: 50px; width: 35%; ">
  <div class="d-flex justify-content-center" style="margin: 30px;">
  <div class="col-lg-8 col-md-6 margin-30px-bottom xs-margin-20px-bottom">


  <div class="accordion-heading" id="f1" (click)="accordion('f1')">  <h3>اللجنة التنفيذية<span class="pull-right up-icon"> </span> </h3> </div>
  <div class="accordion-content"*ngIf="id ==='f1'" > <ul><h6>الأعضاء:</h6></ul>
    <li>الدكتور/ محمد بن عبد الله الشمري-مقرراً</li>
    <li>الأستاذ/ خالد بن موسى مقبول-عضواً</li>
    <li>الأستاذة/ الاء بنت محمد العقيل-عضواً</li>
    <br>
    <ul><h6>تتولى اللجنة التنفيذية الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
    <li>متابعة وتيسير اعمال المؤسسة.</li>
    <li>متابعة أعمال وشؤون الإدارة التنفيذية.</li>
    <li>متابعة أعمال وشؤون اللجان الدائمة العاملة في المؤسسة.</li>
    <li>اختيار منسوبي اللجان الدائمة عدا لجنة التدقيق والمراجعة ووضع الجدارات الخاصة بهم بما يخدم أهداف المؤسسة.</li>
    <li>رفع التقارير لرئيس مجلس الأمناء عن العمل في اللجان الدائمة والإدارة التنفيذية والتوصية بما يخدم مصلحة العمل بالمؤسسة.</li>
  <br>
</div>

<div class="accordion-heading" id="f2" (click)="accordion('f2')"> <h3>لجنة إدارة المخاطر<span class="pull-right up-icon"> </span></h3> </div>
<div class="accordion-content"*ngIf="id ==='f2'" > <ul><h6>الأعضاء:</h6></ul>
  <li>الأستاذ/ نجيب محمد الحماد-مقرراً</li>
  <li>الأستاذ/ خالد بن موسى مقبول-عضواً</li>
  <li>الأستاذة/ الاء بنت محمد العقيل-عضواً</li>
  <br>
  <ul><h6>تتولى لجنة إدارة المخاطر الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
  <li>وضع السيولة.</li>
  <li>الاستثمار والتمويل ونوعية الموجودات.</li>
  <li>مخاطر الائتمان بما فيها المراكز المالية.</li>
  <li>أوضاع الاحتياطيات والمخصصات.</li>
  <li>مدى كفاية تغطية بوالص التأمين للمخاطر المختلفة.</li>
  <li>كفاية رأس المال للمجموعة.</li>
  <br>
</div>

<div class="accordion-heading" id="f3" (click)="accordion('f3')"> <h3>لجنة التدقيق والمراجعة الداخلية<span class="pull-right up-icon"> </span></h3> </div>
<div class="accordion-content"*ngIf="id ==='f3'" > <ul><h6>الأعضاء:</h6></ul>
  <li>الدكتور/ عبد العزيز بن عبد الله الشمري-مقرراً </li>
  <li>الأستاذة/ نورة الخضيري -عضواً</li>
  <li>الأستاذ/ صلاح توفيق محمد-عضواً</li>
  <br>
  <ul><h6>تتولى لجنة التدقيق والمراجعة الداخلية الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
  <li>متابعة وتيسير اعمال المؤسسة.</li>
  <li>مراقبة سلامة بيانات الجمعية وتقاريرها (السنوية والنصف سنوية والربع سنوية).</li>
  <li>التعديلات الجوهرية.</li>
  <li>التغيير في السياسات وخاصة المحاسبة.</li>
  <li>التقيد بالمعايير عامة والمحاسبة خاصة.</li>
  <li>إبراز النواحي الخاضعة لتقرير الادارة.</li>
  <li>التزام القواعد القانونية عند إعداد التقارير المالية.</li>
  <li>تنسيق المهام بشكل عام حسب الهيكل التنظيمي.</li>
  <li>الاهتمام بما يطرأ من مسائل محاسبية جديدة أو غير جديدة في التقارير المحاسبة أو الأعمال الإدارية.</li>
  <li>مراجعة أنظمة الرقابة الداخلية وإدارة المخاطر في المؤسسة.</li>
  <li>مناقشة الأنظمة الداخلية مع الإدارة التنفيذية ومجلس الامناء.</li>
  <li>النظر في التحقيقات الداخلية التي تقوم بها اللجنة أو تكليف بها اللجنة من قبل مجلس الامناء.</li>
  <li>مراجعة السياسات واللوائح والإجراءات المالية والمحاسبية في المؤسسة. </li>
  <li>النظر في أي موضوعات أخرى يحدها مجلس الامناء.</li>
  <br>
</div>

<div class="accordion-heading" id="f4" (click)="accordion('f4')"> <h3>لجنة الجودة ومتابعة الآداء<span class="pull-right up-icon"> </span></h3> </div>
<div class="accordion-content"*ngIf="id ==='f4'" > <ul><h6>الأعضاء:</h6></ul>
  <li>الأستاذة/ نوف السعيد-مقرراً</li>
  <li>الأستاذة / رشا بنت خليل أبوزهري-عضواً</li>
  <li>الأستاذة/ أفنان بنت موسى مقبول -عضواً</li>
  <br>
  <ul><h6>تتولى لجنة الجودة ومتابعة الآداء الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
  <li>متابعة معايير ضبط الجودة في المؤسسة.</li>
  <li>التنسيق مع الاقسام واللجان لجمع بيانات ومعلومات الإداء ونتائج التقويمات للعمليات والانشطة التي تتم في المؤسسة، وتوثيقها بالشكل الصحيح.</li>
  <li>متابعة تنفيذ الخطط التحسينية ومؤشرات ادائها.</li>
  <li>إعداد تقارير مقارنة عن نتائج تقييم معايير كفاءة الإداء.</li>
  <br>
</div>

<div class="accordion-heading" id="f5" (click)="accordion('f5')"> <h3>لجنة الموارد المالية<span class="pull-right up-icon"> </span></h3> </div>
<div class="accordion-content"*ngIf="id ==='f5'" > <ul><h6>الأعضاء:</h6></ul>
  <li>الدكتور/ فهد بن عبد الله الشمري-مقرراً</li>
  <li>الأستاذ/ خالد بن موسى مقبول-عضواً</li>
  <li>الأستاذ / صلاح توفيق محمد-عضواً</li>
  <br>
  <ul><h6>تتولى لجنة الموارد المالية الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
  <li>مراجعة الموازنة التقديرية والميزانية العمومية والحسابات الختامية قبل عرضها على المجلس للإقرار والمصادقة.</li>
  <li>رصد نسب جانبي المصروفات والإيرادات الإيجابية والسلبية الفعلية والتقديرية وتقديم التوصيات للمجلس سواء فيما يتعلق بجوانب ترشيد الإنفاق والإفادة المثلى من الإمكانات بأقل النفقات أو بسبل تنمية الموارد لتعزيز المركز المالي للمؤسسة.</li>
  <li>حصر التدفقات النقدية الآلية والمستقبلية لتحديد حجم المبالغ النقدية التي يمكن تخصيصها للاستثمارات.</li>
  <br>
</div>

<div class="accordion-heading" id="f6" (click)="accordion('f6')"> <h3>لجنة التخطيط والتطوير<span class="pull-right up-icon"> </span></h3> </div>
<div class="accordion-content"*ngIf="id ==='f6'" > <ul><h6>الأعضاء:</h6></ul>
  <li>الأستاذة / رشا بنت خليل أبوزهري-مقرراً</li>
  <li>الأستاذة/ أفنان بنت موسى مقبول-عضواً</li>
  <li>الأستاذة/ الاء بنت محمد العقيل-عضواً</li>
  <br>
  <ul><h6>تتولى لجنة التخطيط والتطوير الإشراف على أعمال المؤسسة بما يحقق الأهداف التي أنشئت من أجلها، ولها مباشرة المهام والاختصاصات التالية:</h6></ul>
  <li>إعداد خطط الإدارة التشغيلية السنوية, ومتابعة تنفيذها بعد اعتمادها.</li>
  <li>تحديد الاحتياجات اللازمة للتخطيط في ضوء المؤشرات واستقراء الأحوال الجديدة والتوقعات المستقبلية.</li>
  <li>تبسيط الإجراءات الإدارية في الإدارة وإعداد الأدلة الخاصة بها وتصميم النماذج المستخدمة وتطويرها ومتابعة تنفيذها.</li>
  <li> تحسين بيئة العمل وتوزيع الأماكن المتاحة على الإدارات والأقسام التابعة للإدارة بما يساعد على تحقيق الرضى الوظيفي وإنجاز العمل.</li>
  <li>تنمية مهارات العاملين بالإدارة , وتحسين أدائهم من خلال تحديد الاحتياجات التدريبية والحلقات والندوات والإيفاد والابتعاث ومتابعة تنفيذ ذلك.</li>
  <li>أي مهام أخرى مكلف بها في مجال الاختصاص, وما يستند من مهام وأعمال أخرى.</li>
  <br>
</div>


</div>
</div>
</section>
</section>


