<div class="page-title-area">
  <div class="container">
    
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            
          <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/">الرئيسية</a></li>
          <li class="breadcrumb-item active" aria-current="page">طلب دعم حالة مرضية</li>
        </ol>
      </nav>
    </div>
    <div class="row">
 

        <!-------------------------------------
        <img class="ImageSlide" src="../../assets/img/تعميم.jpeg" alt="Snow" style="width:90% ; ">

---------------------------------------->
      <app-BasicInfo></app-BasicInfo>

      <app-BankInfo></app-BankInfo>

      <app-FinancialSituation></app-FinancialSituation>

      <app-FamilyMembers></app-FamilyMembers>

      <app-PatientHealth></app-PatientHealth>

      <app-PatientNeeds></app-PatientNeeds>

      <app-OtherPatientConditions></app-OtherPatientConditions>

      <app-OurServices></app-OurServices>

      <app-OtherServiceProviders></app-OtherServiceProviders>

      <app-PatientFiles></app-PatientFiles>
      

    </div>
  </div>
</div>
