
<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2> السياسات</h2>
      <ul>
        <li>
          <a routerLink="/">الرئيسية

            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li> السياسات</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Organization  Area -->
<div class="row">
  <div class="col-12 m-auto">
    <div class="gradient-custom">
        <div class="row container justify-content-center align-items-center h-10 m-auto">
          <div class="col-12 col-lg-9 col-xl-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-10" style="color: #76b430;"> السياسات</h3>
                  <div>
                    <div class="col-md-12 mb-md-2 table-responsive">
                      <hr/>
                      <table class="table table-striped">
                        <thead style="background-color: #92d63dad;color: white;">
                        <tr>
                            <th>#</th>
                            <th class="w-75">الملف</th>
                            <th class="text-center">النوع</th>
                            <th class="text-center">إجراءات</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>السياسات الحسابية </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_1.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td> سياسات إدارة المتطوعين </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_2.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>سياسة التبرعات </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_3.pdf"
                              class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td> سياسة الصرف على الأنشطة و البرامج</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_4.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>سياسة خصوصية البيانات </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_5.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>سياسة مكافحة غسيل الأموال</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_6.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>سياسة الأستثمار </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/File_7.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>

                      </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
