<section class="organaization-area ptb-100">
<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2> السياسات واللوائح</h2>
      <ul>
        <li>
          <a routerLink="/">الرئيسية

            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li> السياسات واللوائح</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Organization  Area -->
<div class="row">
  <div class="col-12 m-auto">
    <div class="gradient-custom">
        <div class="row container justify-content-center align-items-center h-10 m-auto">
          <div class="col-12 col-lg-9 col-xl-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-10" style="color: #76b430;">   السياسات واللوائح</h3>
                  <div>
                    <div class="col-md-12 mb-md-2 table-responsive">
                      <hr/>
                      <table class="table table-striped">
                        <thead style="background-color: #92d63dad;color: white;">
                        <tr>
                            <th>م</th>
                            <th class="w-75">الملف</th>
                            <th class="text-center">النوع</th>
                            <th class="text-center">إجراءات</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>سياسة حقوق الملكية الفكرية </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة حقوق الملكية الفكرية.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>سياسة الرقابة الداخلية وآليات الإشراف والمتابعة </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة الرقابة الداخلية وآليات الإشراف والمتابعة.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>سياسة المنح وتقديم المساعدة للجهات المستفيدة</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة المنح وتقديم المساعدة للجهات المستفيدة.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>سياسة جمع التبرعات  </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة جمع التبرعات.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>سياسة تنظيم العلاقة مع المستفيدين وتقديم الخدمات لهم</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة تنظيم العلاقة مع المستفيدين وتقديم الخدمات لهم.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td> آلية إدارة المتطوعين </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/آلية إدارة المتطوعين.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td> سياسة تعارض المصالح </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة تعارض المصالح.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td> سياسة الإبلاغ عن المخالفات وحماية مقدمي البلاغ</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسات الإبلاغ عن المخالفات.pdf"
                            class="file-download"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>سياسة خصوصية البيانات </td>
                            <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                            <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة خصوصية البيانات.pdf"
                              class="file-download"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>سياسة الاحتفاظ بالوثائق والسجلات </td>
                            <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                            <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسات الاحتفاظ بالوثائق والسجلات.pdf"
                                class="file-download"> عرض</a> </td>
                          </tr>
                        <tr>
                          <td>11</td>
                          <td>السياسات الحسابية </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/السياسات الحسابية.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td> سياسة الصرف على الأنشطة و البرامج</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة الصرف على البرامج والانشطة.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td>سياسة الاشتباه بعمليات غسيل الأموال وجرائم تمويل الارهاب</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة الإشتباه بعمليات غسيل الأموال وجرائم تمويل الإرهاب.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>سياسة إدارة المخاطر</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة إدارة المخاطر.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>15</td>
                          <td>سياسة الأستثمار </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة الاستثمار.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td> سياسة الوقاية من عمليات غسيل الاموال وجرائم تمويل الارهاب </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/سياسة الوقاية من عمليات غسيل الأموال وجرائم تمويل الإرهاب.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>17</td>
                          <td> اللائحة المالية </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/اللائحة المالية - مؤسسة عبد الله ركيب الرمال لوالديه.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>18</td>
                          <td> لائحة الصلاحيات </td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/لائحة الصلاحيات - مؤسسة عبد الله ركيب الرمال لوالديه.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>19</td>
                          <td>لائحة المشتريات</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/لائحة المشتريات.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                        <tr>
                          <td>20</td>
                          <td>لائحة تنظيم العمل</td>
                          <td class="text-center"><i class="fa fa-file-pdf-o" style="font-size:22px;color:red"></i></td>
                          <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/policiespdf/لائحة تنظيم العمل.pdf"
                            class="file-download"> عرض</a> </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>  </div>   </div>  </div>  </div> </div> </div> </div></div>
</section>
