<div class="card" style="text-align: right;">
  <div class="card-header">المرفقات</div>
  <div class="card-body">
    <form class="row" [formGroup]="PatientFilesForm">

      <div class="form-group col-12 col-md-12">
        <div *ngIf="IsShowMessageUpdate" class="alert alert-info" role="alert">
          تم إضافة الملف بنجاح
        </div>
        <div *ngIf="IsShowMessageError" class="alert alert-danger" role="alert">
          حدث خطاء
        </div>
      </div>
      <div class="form-group col-12 col-md-12">
        <div *ngIf="IsShowMessageInsert" class="alert alert-success" role="alert">
          تم إضافة بنجاح
        </div>
      </div>

    
      <div class="col-md-8 mb-md-2"*ngIf="ShowAttach" >
        <div class="form-outline">
            <strong>
          <label class="form-label" for="Instruction Manual" style="vertical-align: middle; color: red;"> مرفق الدليل الارشادي لبرنامج الدعم المقدم من مؤسسة عبد الله ركيب الرمال لوالدية للجمعيات الصحية في المملكة
            <a target="_blank" href="../../assets/Instruction Manual/دعم الجمعيات الصحية بالمملكة بالصور الواجهة.pdf" > (تحميل)</a>
          </label>
        </strong>
      </div>
    </div>


      <div class="col-md-6 mb-md-3">
        <div class="form-outline">
          <label class="form-label" for="MinistryOfHumanResourcesLicense">صورة من ترخيص المركز الوطني لتنمية القطاع غير الربحي ساري المفعول</label>
          <input formControlName="MinistryOfHumanResourcesLicense" (change)="onFileChange($any($event).target.files,'MinistryOfHumanResourcesLicense')" accept="application/pdf" type="file" class="form-control">
        </div>
      </div>


      <div class="col-md-6 mb-md-2">
        <div class="form-outline">
          <label class="form-label" for="CouncilFormationDecision">صورة من قرار تشكيل مجلس الإدارة            </label>
          <input formControlName="CouncilFormationDecision" (change)="onFileChange($any($event).target.files,'CouncilFormationDecision')" accept="application/pdf"  type="file" class="form-control">
        </div>
      </div>

      <div class="col-md-6 mb-md-2">
        <div class="form-outline">
          <label class="form-label" for="ChairmanSpeech">الطلب يكون مقدم من رئيس مجلس الإدارة</label>
          <input formControlName="ChairmanSpeech" (change)="onFileChange($any($event).target.files,'ChairmanSpeech')" accept="application/pdf" type="file" class="form-control">
        </div>
      </div>

      <div class="col-md-6 mb-md-2 "*ngIf="ShowAttachment">
        <div class="form-outline">
          <label class="form-label" for="MeasurementMethods">طرق قياس معدل تنفيذ البرنامج محدده في نموذج مخصص لذلك</label>
          <input formControlName="MeasurementMethods" (change)="onFileChange($any($event).target.files,'MeasurementMethods')" accept="application/pdf" type="file" class="form-control">
        </div>
      </div>



    </form>

    <div class="col-md-12 mb-md-2 table-responsive">
      <hr/>
      <table class="table ">
        <thead style="background-color: #92d63dad;color: white;">
        <tr>
            <th>الرقم</th>
            <th>الملف</th>
            <th>النوع</th>
            <th>التاريخ</th>
            <th>حذف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of FileList">
          <td>#{{file.Id}}</td>
          <td><a target="_blank" href="{{file.FilePath}}">عرض الملف</a></td>
          <td>{{file.Type}}</td>
          <td>{{file.DateCreation}}</td>
          <td><i (click)="DeleteFile(file.Id)" class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
