<div class="page-title-area">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/">الرئيسية</a></li>
          <li class="breadcrumb-item active" aria-current="page">طلب دعم ترميم مسكن</li>
        </ol>
      </nav>
    </div>
    <div class="row">

<!----------------------------------------
      <img class="ImageSlide" src="../../assets/img/تعميم.jpeg" alt="Snow" style="width:90% ; ">
------------------------------------------>

      <app-BasicInfo *ngIf="current_step == BasicInfo_step || viewAll" [Step]="BasicInfo_step"></app-BasicInfo>

      <app-BankInfo  *ngIf="current_step == BankInfo_step || viewAll" [Step]="BankInfo_step"></app-BankInfo>

      <app-FinancialSituation  *ngIf="current_step == FinancialSituation_step || viewAll" [Step]="FinancialSituation_step"></app-FinancialSituation>

      <app-home-info  *ngIf="current_step == homeInfo_step || viewAll" [Step]="homeInfo_step"></app-home-info>

      <app-home-file *ngIf="current_step == homefile_step || viewAll" [Step]="homefile_step"></app-home-file>


    </div>
  </div>
</div>
