

<section class="get-started-today-area two ptb-100">
<div class="container">
    <div class="text-center mb-2-8 mb-lg-6">
        <h1 class="display-18 display-md-16 display-lg-14 font-weight-700"><span>الأهداف</span></h1>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">

                <div class="text-center text-sm-right mb-2-9">
                    <h5 class="sub-info">الهدف الاول</h5>
                    <p >دعم وتنفيذ الجهود والمشاريع التي تهدف إلى تطوير مكونات القطاع غير الربحي وتطويره.</p>
                </div><br>


                <div class="text-center text-sm-right">
                    <h5 class="sub-info">الهدف الثاني</h5>
                    <p >دعم ومساندة المبادرات التنموية والأهلية التي تهدف لتحسين جودة الحياة.</p>
                </div><br>


                 <div class="text-center text-sm-right">
                    <h5 class="sub-info">الهدف الثالث</h5>
                    <p >تملك العقارات وتطويرها.</p>
                 </div>

            </div>
        </div>



        <div class="col-lg-4 d-lg-block">
            <div class="why-choose-center-image">
                <img src="../../assets/img/get-started/value.jpeg" alt=".goals.." class="rounded-circle">
               </div>





               <div class="text-center text-sm-center mb-2-9">

                <h5 class="sub-info">الهدف الرابع</h5>
                <p > تقديم الدعم المالي والعيني للأسر والأفراد والحالات المحتاجة.</p>
               </div><br>






          </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">



                <div class="text-center text-sm-left">
                  <br>
                  <h5 class="image.png">الهدف الخامس</h5>
                  <p > دعم ورعاية البرامج والمشروعات التنموية والاجتماعية والتعليمية والصحية والتطوعية التي تنفذها المؤسسة أو بالتعاون مع جهات أخرى.</p>
              </div><br>


              <div class="text-center text-sm-left">

                <h5 class="sub-info"> الهدف السادس</h5>
                <p >تقديم القروض والتسهيلات الغير ربحية للمحتاجين. </p>
            </div><br>

                <div class="text-center text-sm-left">

                  <h5 class="sub-info">الهدف السابع</h5>
                  <p >المشاركة مع الشركات الوقفية وغيرها.</p>

                </div><br>






            </div>
        </div>
    </div>
</div>
</section>
