<!-- Start Latest News Area -->
<section class="blog-area pb-100">
  <div class="container">

    <div class="vedioplayer mb-5" >
      <section class="about-area abouts-areas ptb-100 two">
        <div class="container">
          <div class="row align-items-baseline">
            <div class="col-lg-6">
      <iframe width="100%" height="360px" src="https://www.youtube.com/embed/FDxmhJT7A4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div style="color: black;margin-top: 10px;">
        <p><strong>بمناسبة يوم التأسيس السعودي 22 | عرضة مملكتنا السعودية</strong></p>
        <p>برعاية ‫#مؤسسة_عبد_الله_ركيب_الرمال_لوالديه‬&nbsp;</p>
        <p>&nbsp;<strong>كلمات</strong> : &nbsp;الشاعر سالم الخزام&nbsp; -&nbsp;&nbsp;&nbsp;<strong>أداء</strong> :
          الداوي&nbsp; -&nbsp;&nbsp; <strong>توزيع</strong> : وحيد غنيم&nbsp; &nbsp;-&nbsp;&nbsp;<strong>كورال</strong> : فرقة
          جبال سلمى&nbsp; -&nbsp;&nbsp; <strong>مشاركة</strong> : فرقة غياض&nbsp; &nbsp;-&nbsp; &nbsp;<strong>اخراج</strong> :
          عبدالله العبيد‬</p>
      </div>
</div>
            <div class="col-lg-6">
      <iframe width="100%" height="360" src="https://arp.org.sa/assets/Media/كلمة البرفسور عبدالله بن ركيب الرمال الشمري رئيس مجلس امناء مؤسسة عبدالله بن ركيب الرمال لوالديه الخيريه في حفل جمعية جاه لأصلاح .ذات البين.mp4"  frameborder="0"  allowfullscreen></iframe>
      <div style="color: black;margin-top: 10px;">
      <p><strong>كلمة البرفسور عبدالله ركيب الرمال -رئيس مجلس امناء مؤسسة عبدالله بن ركيب الرمال لوالديه الاهليه</strong></p>
      <p class="mb-3"> كلمة البروفسور عبدالله ركيب الرمال في حفل #جمعية_جاه_لإصلاح_ذات_البين بالتعاون مع #مؤسسة_عبدالله_ركيب_الرمال_لوالدية_الأهليه بفندق الملينيوم #حائل الثلاثاء 17/11/1444 هـ الموافق 6/6/2023م</p>
    </div>
   </div>

<div class="col-lg-6">
<iframe width="100%" height="360" src="https://arp.org.sa/assets/Media/حفل جمعية جاه بالتعاون مع مؤسسة عبدالله ركيب الرمال لوالديه الاهلية.M4V" frameborder="0" allowfullscreen></iframe>
<!--<video controls preload="none" width="100%" height="360">
  <source src="../../assets/Media/حفل جمعية جاه بالتعاون مع مؤسسة عبدالله ركيب الرمال لوالديه الاهلية.M4V" type="video/M4V">
</video>-->
<div style="color: black;margin-top: 10px;">
 <p><strong>حفل جمعية جاه بالتعاون مع مؤسسة عبدالله ركيب الرمال لوالديه الاهلية</strong></p>
 <p class="mb-3">#برومو | لقطات متنوعه من حفل #جمعية_جاه_لإصلاح_ذات_البين بالتعاون مع #مؤسسة_عبدالله_ركيب_الرمال_لوالدية_الأهليه بفندق الملينيوم #حائل الثلاثاء 17/11/1444 هـ الموافق 6/6/2023م</p>
       </div>
    </div>
    <div class="col-lg-6">
      <iframe width="100%" height="360" frameborder="0" src="https://arp.org.sa/assets/Media/حفل البرفسور عبد الله الركيب الرمال لتكريم البرفسور فواز الشيحي.M4V" allowfullscreen ></iframe>
    <div style="color: black;margin-top: 10px;">
      <p><strong>حفل البرفسور عبد الله ركيب الرمال لتكريم البرفسور فواز الشيحي</strong></p>
      <p class="mb-3">#برومو | #لقطات متنوعه من حفل البرفسور عبد الله ركيب الرمال لتكريم البرفسور فواز الشيحي بفندق الملينيوم #حائل الثلاثاء 02/12/1444 هـ الموافق 20/6/2023م</p>
    </div>
  </div>

  </div>
  </div>
</section>

     <!---- <p style="color: black;display:none;">مقتطفات من حفل مؤسسة عبد الله بن ركيب الرمال لوالديه و الذي نظمه سعادة رئيس مجلس أمناء المؤسسة البروفيسور عبد الله الشمري بمناسبة اليوم الوطني السعودي</p>
                                  -->



    </div>

      <div class="section-title">
          <span><h2>أخر الاخبار</h2></span>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-8" *ngFor="let news of LastNews | slice:0:2">
              <div class="single-news">
                  <div class="news-img">
                      <a routerLink="news/deatils/{{news.id}}" style="width: 100%;">
                          <img src="{{news.img}}" alt="News" style="width: 100%;">
                      </a>
                      <div class="date">
                          <span>{{news.dateCreation | date:'yyyy-MMM-dd'}}</span>
                      </div>
                  </div>
                  <div class="news-text">
                      <ul>
                          <li>
                              <i style="color: #76b430;" aria-hidden="true" class="fas fa-user"></i>
                              بواسطة

                              <a href="#">{{news.publishBy}}</a>
                          </li>
                          <li>
                              <i class="fas fa-eye" style="color: #76b430;"></i>
                              &nbsp;<a href="#"> {{news.numberOfViews}} المشاهدة </a>
                          </li>
                      </ul>
                      <h3>
                          <a routerLink="news/deatils/{{news.id}}">{{news.title}}</a>
                      </h3>
                      <p>{{news.details | slice:0:120}}</p>
                      <a class="read-more" routerLink="news/deatils/{{news.id}}">عرض المزيد
          </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-3 col-md-3"  style="max-height: 455px;overflow-y: scroll;overflow-x: hidden; ">
            <a class="twitter-timeline" href="https://twitter.com/arp_org_sa?ref_src=twsrc%5Etfw">Tweets by arp_org_sa</a>
          </div>
          <div class ="col-md-12">
          <p>لمشاهدة جميع الاخبار <a routerLink="/News" style="color:#76b430">اضغط هنا</a></p>
        </div>
      </div>
    </div>
</section>
<!-- End Latest News Area -->
