
<div class="page-title-area">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/">الرئيسية</a></li>
          <li class="breadcrumb-item active" aria-current="page">طلب دعم مقطوع</li>
        </ol>
      </nav>
    </div>
    <div class="row">

<!------------------------------------
      <img class="ImageSlide" src="../../assets/img/تعميم.jpeg" alt="Snow" style="width:90% ; ">
 ------------------------------------------>

      <app-BasicInfo *ngIf="current_step == BasicInfo_step || viewAll" [Step]="BasicInfo_step"></app-BasicInfo>

      <app-BankInfo *ngIf="current_step == BankInfo_step || viewAll" [Step]="BankInfo_step"></app-BankInfo>

      <app-FinancialSituation *ngIf="current_step == FinancialSituation_step || viewAll" [Step]="FinancialSituation_step"></app-FinancialSituation>

      <app-FamilyMembers *ngIf="current_step == FamilyMembers_step || viewAll" [Step]="FamilyMembers_step"></app-FamilyMembers>

      <app-related-person *ngIf="current_step == related_person_step || viewAll" [Step]="related_person_step"></app-related-person>

      <app-servicesfamilies *ngIf="current_step == servicesfamilies_step || viewAll" [Step]="servicesfamilies_step"></app-servicesfamilies>

      <app-needyfamiliesfile *ngIf="current_step == needyfamiliesfile_step || viewAll" [Step]="needyfamiliesfile_step"></app-needyfamiliesfile>


    </div>
  </div>
</div>

