<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/backend/home">الرئيسية</a></li>
          <li class="breadcrumb-item active" aria-current="page">القائمة الرئيسية</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">المستخدمين</h5>
            <p class="card-text IconSize"><i class="fas fa-users text-danger"></i></p>
            <a routerLink="/backend/user/list" class="card-link">عرض</a>
            <a routerLink="/user/register" class="card-link">إضافة</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">المعلومات الاساسية</h5>
            <p class="card-text IconSize"><i class="fas fa-info-circle text-info"></i></p>
            <a routerLink="/backend/company/update" class="card-link">تحديث</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">معرض الصور </h5>
            <p class="card-text IconSize"><i class="fas fa-images text-success"></i></p>
            <a routerLink="/backend/gallery/update" class="card-link">تحديث</a>
          </div>
        </div>
      </div>


        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">معرض الفيديوهات </h5>
              <p class="card-text IconSize"><i class="fas fa-video text-success"></i></p>
              <a routerLink="/backend/galleryVideo/add" class="card-link">تحديث</a>
            </div>
          </div>
        </div>


<!---
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">التقارير السنوية</h5>
            <p class="card-text IconSize"><i class="far fa-file-pdf text-dark"></i></p>
            <a routerLink="/backend/YearReport" class="card-link">تحديث</a>
          </div>
        </div>
      </div>
---->




      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">كلمة الرئيس</h5>
            <p class="card-text IconSize"><i class="fas fa-microphone-alt text-warning"></i></p>
            <a routerLink="/backend/CEOSpeach/update" class="card-link">تحديث</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">الهيكل التنظيمي</h5>
            <p class="card-text IconSize"><i class="fas fa-sitemap text-primary"></i></p>
            <a routerLink="/backend/OrganizationChart/update" class="card-link">تحديث</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">مجلس الامناء</h5>
            <p class="card-text IconSize"><i class="fas fa-user-friends text-secondary"></i></p>
            <a routerLink="/backend/member/list" class="card-link">عرض</a>
            <a routerLink="/backend/member/add" class="card-link">إضافة</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">آخر الاخبار</h5>
            <p class="card-text IconSize"><i class="fas far fa-newspaper text-info"></i></p>
            <a routerLink="/backend/news/viewlist" class="card-link">عرض</a>
            <a routerLink="/backend/news/add" class="card-link">إضافة</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">طلبات الافراد</h5>
            <p class="card-text IconSize"><i class="fa fa-users text-danger"></i></p>
            <a routerLink="/backend/BeneficiariesRequests" class="card-link">عرض</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">طلبات الجمعيات</h5>
            <p class="card-text IconSize"><i class="fa fa-building text-success"></i></p>
            <a routerLink="/backend/AssociationRequests" class="card-link">عرض</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
