<div class="page-title-area">
    <div class="container">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/">الرئيسية</a></li>
            <li class="breadcrumb-item active" aria-current="page">طلب دعم للجمعيات الصحية</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <!-- SubForm -->
        <app-BaiscBankInfo [ShowBank]="false"></app-BaiscBankInfo>
      <app-HA_SupportType></app-HA_SupportType>
        <app-AS_Attachment [ShowAttachment]="false"></app-AS_Attachment>
        <!-- SubForm -->
      </div>
    </div>
  </div>
  