<section class="organaization-area ptb-100">
  <!-- Start Page Title Area -->
  <div class="page-title-area">
    <div class="container">
      <div class="page-title-content">
        <h2>حوكمة 2023</h2>
        <ul>
          <li>
            <a routerLink="/">الرئيسية

              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li> حوكمة 2023</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Page Title Area -->

  <!-- Start Organization  Area -->
  <div class="row">
    <div class="col-12 m-auto">
      <div class="gradient-custom">
          <div class="row container justify-content-center align-items-center h-10 m-auto">
            <div class="col-12 col-lg-9 col-xl-12">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-10" style="color: #76b430;">أدلة حوكمة 2023م</h3>
                    <div>
                      <div class="col-md-12 mb-md-2 table-responsive">
                        <hr/>
                        <table class="table table-striped">
                          <thead style="background-color: #92d63dad;color: white;">
                          <tr>
                              <th>م</th>
                              <th class="w-75">الملف</th>
                              <th class="text-center">إجراءات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>اللائحة الأساسية</td>
                            <td style="vertical-align: middle;text-align: center;">  <a routerLink="/BasicRegulation" class="nav-link"> عرض</a> </td>
                          </tr>
                          <tr>
                          <td>2</td>
                          <td>شهادة الترخيص</td>
                          <td style="vertical-align: middle;text-align: center;"><a routerLink="/registration-certificate" class="nav-link">عرض</a></td>
                        </tr>
                          <tr>
                            <td>3</td>
                            <td> اللوائح و السياسات  </td>
                            <td style="vertical-align: middle;text-align: center;"><a routerLink="/policies" class="nav-link" onclick="hideMobileMenu()">عرض</a> </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>أعضاء مجلس الامناء</td>
                            <td style="vertical-align: middle;text-align: center;">  <a routerLink="/Members" class="nav-link" onclick="hideMobileMenu()"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>نموذج الافصاح لأعضاء مجلس الامناءوالموظفين في المؤسسة</td>
                            <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href="../../assets/نماذج الافصاح/إقرار وتعهد - افصاح -اعضاء مجلس الامناء والموظفين في المؤسسة.pdf"
                              class="file-download"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>اللجان</td>
                            <td style="vertical-align: middle;text-align: center;"> <a routerLink="/CommitteesComponent" class="nav-link" onclick="hideMobileMenu()">  عرض</a> </td>
                          </tr>

                          <tr>
                            <td>7</td>
                            <td>الرؤية والرسالة والاهداف</td>
                            <td style="vertical-align: middle;text-align: center;"> <a routerLink="/ServicesComponent" class="nav-link" onclick="hideMobileMenu()"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>تقارير البرامج والانشطة</td>
                            <td style="vertical-align: middle;text-align: center;">  <a href="../../assets/YearlyReports/"target="_blank"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>الاحصائيات الدقيقة المتعلقة بالمساعدات النقدية والعينية وأعداد وفئات المستفيدين منها</td>
                            <td style="vertical-align: middle;text-align: center;"> <a target="_blank" href=""
                              class="file-download"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>التقارير الماليه</td>
                            <td style="vertical-align: middle;text-align: center;"> <a  href="/"
                              class="file-download"> عرض</a> </td>
                          </tr>

                          <tr>
                            <td>11</td>
                            <td>للأستفسارات والمقترحات والشكاوي</td>
                            <td style="vertical-align: middle;text-align: center;"> <a routerLink="/Contact" class="nav-link" onclick="hideMobileMenu()"> عرض</a> </td>
                          </tr>
                          <tr>
                            <td>12</td>
                            <td>استبانة قياس رضا أصحاب العلاقه والقرارات المتخذة بخصوصها من مجلس الأمناء</td>
                            <td style="vertical-align: middle;text-align: center;">  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeY6N5oFgvH7gCL8dQ8h-fr9b3p0ocOejrF3mFHZgtOiaH0XA/viewform"target="_blank" class="nav-link">
                           عرض</a> </td>
                          </tr>
                          <tr>
                            <td>13</td>
                            <td>استبانة قياس رضا المستفيدين والعاملين في المؤسسة</td>
                            <td style="vertical-align: middle;text-align: center;">  <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4h8SR9JzQcAMT9QL25AUsXGw4-0Hf3Pvz60Tv7cmTFORf2A/viewform"target="_blank" class="nav-link">
                           عرض</a> </td>
                          </tr>
                          <tr>
                            <td>14</td>
                            <td>تقييم المستفيدين للخدمات التي تقدمها المؤسسة</td>
                            <td style="vertical-align: middle;text-align: center;">  <a href=""target="_blank" class="nav-link">
                           عرض</a> </td>
                          </tr>

                        </tbody>
                      </table>
                      </div>  </div>   </div>  </div>  </div> </div> </div> </div></div>
                    </section>
